<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="../../stylesheets/equipment.css">
    <link rel="stylesheet" href="../../javascrips/layui/css/layui.css">
    <script src="../../javascrips/layui/layui.js"></script>
    <style>
        .layui-form-label{width:98px;}
        .layui-input-block{margin-left: 128px;}
    </style>
</head>
<body>
<div style="width:80%;margin:20px auto;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">键值：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" value="2016061400004" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备属性：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" value="2016061400004" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备类型：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" value="2016061400004" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" value="2016061400004" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea placeholder="" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 128px">
                <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="cancel">取消</button>
            </div>
        </div>
    </form>
</div>
<script src="../../javascrips/public.js"></script>
<script>

</script>
</body>
</html>