<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="../../stylesheets/purchase.css">
    <link rel="stylesheet" href="../../javascrips/layui/css/layui.css">
    <script src="../../javascrips/layui/layui.js"></script>
    <style>
        .layui-form-label{width:98px;}
        .layui-input-block{margin-left: 128px}
    </style>
</head>
<body>
<div>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">供应商列表</li>
            <li>供应商添加</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-inline">
                                <select name="quiz">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-normal">查询</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>供应商名称</th>
                            <th>数据更新时间</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>物资采购管理员4</td>
                            <td>2017-09-08</td>
                            <td>水管</td>
                            <td>
                                <a href="javascript:;" class="default edit">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">供应商名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注:</label>
                        <div class="layui-input-block">
                            <textarea placeholder="" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form','element','layer'], function(){
        var form = layui.form,layer = layui.layer,$ = layui.jquery,element = layui.element;
        $('.edit').on('click',function(){
            layer.open({
                type: 2,
                title: '添加采购员',
                shadeClose: true,
                shade: 0.6,
                area: ['700px', '55%'],
                content: 'addSupplier.html' //iframe的url
            });
        })
    });

</script>
</body>
</html>