<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="../../stylesheets/communication.css">
    <link rel="stylesheet" href="../../javascrips/layui/css/layui.css">
    <script src="../../javascrips/jquery-1.11.2.min.js"></script>
    <script src="../../javascrips/layui/layui.js"></script>
</head>
<body>
<div>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">模板管理</li>
            <!-- <li>模板添加</li>-->
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form clearfix">
                <div class="layui-inline fr">
                    <button class="layui-btn layui-btn-normal" id="add">添加</button>
                </div>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>模板ID</th>
                            <th>标题</th>
                            <th>行业</th>
                            <th>参数1标签</th>
                            <th>参数1名称</th>
                            <th>参数2标签</th>
                            <th>参数2名称</th>
                            <th>参数3标签</th>
                            <th>参数3名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="default" href="">XMFZWDWWWWFDDHHSIDLF8DDDDF77</a></td>
                            <td><a class="default" href="">教师会议通知</a></td>
                            <td>教育-院校</td>
                            <td>会议日期</td>
                            <td>keyword1</td>
                            <td>会议地点</td>
                            <td>keyword2</td>
                            <td>特表提醒</td>
                            <td>keyword3</td>
                            <td>
                                <a href="" class="default">修改</a>
                                <a href="" class="default">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="layui-tab-item">2</div>-->
        </div>
    </div>
</div>
<script>
    layui.use(['form','element'], function(){
        var form = layui.form,layer = layui.layer;
        var $ = layui.jquery,element = layui.element;
    });
</script>
</body>
</html>